* {
    padding: 0;
    margin: 0;
}

.bandeira{
    height: 50px;
    width: 70px;
    border-radius: 5px;
}

.comida {
    width: 100px;
    height: 100px;
}

.header1 {
    text-align: center;
    background-image: url("https://static.vecteezy.com/ti/vetor-gratis/p1/2554852-seamless-pattern-with-food-on-dark-blue-background-gratis-vetor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 7dvh;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: sans-serif;
    color: white;
}

body{
    background-color: rgb(110, 144, 207);
}

.c1{
    text-align: center;
    background-color: aliceblue;
    width: 30dvw;
    height: 40dvh;
    margin-top: 10dvh;
    margin-left: 2dvw;
    border-radius: 8px;
}

.c2{
    background-color: aliceblue;
    width: 30dvw;
    height: 40dvh;
    margin-top: 10dvh;
    margin-right: 2dvw;
    padding: 10px;
    border-radius: 8px;
}

.c3{
    background-color: aliceblue;
    margin-top: 5dvh;
    margin-right: 5dvw;
}

ul{
    list-style-type: none;
}
