*{
    margin: 0;
    padding: 0;
}

.header1{
    height: 8dvh;
    text-align: center;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20231104/pngtree-vibrant-light-orange-texture-a-kaleidoscope-of-colors-on-the-wall-image_13763344.png");
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
}

.header1 h1{
    font-family: sans-serif;
    font-size: 25px;
    color: black;
}

hr{
    margin-top: 0;
    border: none;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7pkovO4caGw3jadZ9iA48V1VgSmNI7yI47g&s");
    height: 4px;
}

.c1{
    margin-left: 2dvw;
    background-color: aqua;
}

.c2{
    margin-right: 2dvw;
    background-color: aqua;
}

.c3{
    margin-left: 2dvw;
    background-color: aqua;
}

.footer1{
    background-color: black;
}